name: Update Projects

on:
  schedule:
    - cron: '0 0 * * *' # Runs once a day
  workflow_dispatch:

jobs:
  update-projects:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests PyGithub

      - name: Run update script
        run: python scripts_update_projects_Version2.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Updated latest projects in README"
          git push
